<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/general.css">
</head>

<body class="fondo">
    <main>
        <header class="main-header">
            <div class="main-header-top-bar">
                <img class="img_mercado_libre" src="/images/logo-mercado-liebre.svg" alt="logo de mercado Libre">
                <div class="main-search">
                    <div class="search">
                        <input class="busqueda" type="text" placeholder="Buscar productos, marcas">
                        <div class="icon-search"><span class="fas fa-search"></span></div>
                    </div>
                </div>
                <div class="contenedor_pnav">
                    <p class="p_nav"><span class="fa-solid fa-hand-holding-dollar"></span> Comprá en cuotas y sin
                        tarjeta de
                        crédito</p>
                </div>
            </div>
            <nav class="main-vbar">
                <ul>
                    <a href="" class="nav_menu_link">Ofertas</a>
                    <a href="" class="nav_menu_link"> Tiendas Oficiales</a>
                    <a href="" class="nav_menu_link">Vender</a>
                    <a href="" class="nav_menu_link">Ayuda</a>
                </ul>
                <ul>
                    <a href="/register" class="nav_menu_link">Creá Tu Cuenta<span
                            class="fa-solid fa-address-card"></span></a>
                    <a href="/login" class="nav_menu_link">Ingresa<span class="fa-solid fa-right-to-bracket"></span></a>
                    <a href="" class="nav_menu_link">Mis Compras<span
                            class="fa-sharp fa-solid fa-basket-shopping"></span></a>
                </ul>
            </nav>
            <div class="burguer burger-menu">
                <span class="burguere fas fa-bars"></span>
            </div>
        </header>
        <img src="/images/img-home-banner.jpg" alt="banner" width="100%">
        <h2><b>Sección: Basado en tu última visita</b></h2>
        <section class="sec_ofertas">
            <article>
                <div class="articulo">
                    <img class="imagenes" src="./images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                    <div class="resto_del_articulo">
                        <span class="bus fa-solid fa-truck"></span>
                        <p class="precio"><b>$6.770 </b><span class="descuento"><b> 40% OFF</b></span></p>
                        <p class="descripcion"><b>Cafetera Moulinex</b></p>
                    </div>
                </div>
            </article>
            <article>
                <div class="articulo">
                    <img class="imagenes" src="./images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <div class="resto_del_articulo">
                        <span class="bus fa-solid fa-truck"></span>
                        <p class="precio"><b>$230.000 </b><span class="descuento"><b>20% off</b></span></p>
                        <p class="descripcion"><b>MacBook Pro 2019</b></p>
                    </div>
            </article>
            </article>
            <article>
                <div class="articulo">
                    <img class="imagenes" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                    <div class="resto_del_articulo">
                        <span class="bus fa-solid fa-truck"></span>
                        <p class="precio"><b>$70.500 </b><span class="descuento"><b>10% off</b></span></p>
                        <p class="descripcion"><b>Samsung Galaxy S10</b></p>
                    </div>
                </div>
            </article>
            <article>
                <div class="articulo">
                    <img class="imagenes" src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
                    <div class="resto_del_articulo">
                        <span class="bus fa-solid fa-truck"></span>
                        <p class="precio"><b>$23.200 </b><span class="descuento"><b>5% off</b></span></p>
                        <p class="descripcion"><b>SmartTv Samsung 43"</b></p>
                    </div>
                </div>
            </article>
        </section>
        <h2><b>Sección de Ofertas</b></h2>
        <section class="sec_articulos">
            <article>
                <div class="articulo">
                    <img class="imagenes" src="./images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                    <div class="resto_del_articulo">
                        <span class="bus fa-solid fa-truck"></span>
                        <p class="precio"><b>$6.770 </b><span class="descuento"><b>40% OFF</b></span></p>
                        <p class="descripcion"><b>Cafetera Moulinex</b></p>
                    </div>
                </div>
            </article>
            </article>
            <article>
                <div class="articulo">
                    <img class="imagenes" w src="./images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <div class="resto_del_articulo">
                        <span class="bus fa-solid fa-truck"></span>
                        <p class="precio"><b>$230.000 </b><span class="descuento"><b>20% off</b></span></p>
                        <p class="descripcion"><b>MacBook Pro 2019</b></p>
                    </div>
                </div>
            </article>
            <article>
                <div class="articulo">
                    <img class="imagenes" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                    <div class="resto_del_articulo">
                        <span class="bus fa-solid fa-truck"></span>
                        <p class="precio"><b>$70.500 </b><span class="descuento"><b>10% off</b></span></p>
                        <p class="descripcion"><b>Samsung Galaxy S10</b></p>
                    </div>
                </div>
            </article>
            <article>
                <div class="articulo">
                    <img class="imagenes" src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
                    <div class="resto_del_articulo">
                        <span class="bus fa-solid fa-truck"></span>
                        <p class="precio"><b>$23.200 </b><span class="descuento"><b>5% off</b></span></p>
                        <p class="descripcion"><b>SmartTv Samsung 43</b></p>
                    </div>
                </div>
            </article>
        </section>
        </<main>
        <footer>
            <section>
                <span class="icon-footer fa-solid fa-credit-card"></span>
                <h2 class="h2_footer">Pagá con tarjeta o en efectivo</h2>
                <p class="p_footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <span class="icon-footer fa-solid fa-gift"></span>
                <h2 class="h2_footer">Envío gratis desde $ 2.500</h2>
                <p class="p_footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <span class="icon-footer fa-solid fa-user-shield"></span>
                <h2 class="h2_footer">Seguridad, de principio a fin</h2>
                <p class="p_footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <section>
                <h2 class="h2_foot">Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
            </section>
        </footer>
    </main>
</body>

</html>