<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel="stylesheet" href="/css/style-register.css">
    <link rel="stylesheet" href="/css/general.css">
</head>

<body>
    <main>
        <header class="main-header">
            <div class="main-header-top-bar">
                <img class="img_mercado_libre" src="/images/logo-mercado-liebre.svg" alt="logo de mercado Libre">
            </div>

            <div class="contenedor_pnav">

                <p class="p_nav"><span class="fa-solid fa-hand-holding-dollar"></span> Comprá en cuotas y sin tarjeta de
                    crédito</p>
            </div>
            <nav class="main-vbar">
                <ul>
                    <a href="">Ayuda</a>
                </ul>
                <ul>
                    <a href="/">Inicio<span class="fa-solid fa-house"></span></span></a>
                    <a href="/register">Crear tu Cuenta<span class="fa-solid fa-right-to-bracket"></span></a>
                    <a href="">Mis Compras<span class="fa-sharp fa-solid fa-basket-shopping"></span></a>
                </ul>
            </nav>
        </header>
        <img src="/images/img-home-banner.jpg" alt="banner" width="100%">
        <section class="sec_datos">
            <h4>Formulario Login</h4>
            <input class="controls" type="text" placeholder="Nombre de usuario/E-mail" id="usuario" ><br>
            <input class="controls" type="text" placeholder="Clave" id="clave" >
            <div>
             <button id="boton">Ingresar</button>
                <p><a href="/register">Registrarse</a></p>
            </div>
        </section>
        <footer>
            <section>
                <span class="icon-footer fa-solid fa-credit-card"></span>
                <h2 class="h2_footer">Pagá con tarjeta o en efectivo</h2>
                <p class="p_footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <span class="icon-footer fa-solid fa-gift"></span>
                <h2 class="h2_footer">Envío gratis desde $ 2.500</h2>
                <p class="p_footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <span class="icon-footer fa-solid fa-user-shield"></span>
                <h2 class="h2_footer">Seguridad, de principio a fin</h2>
                <p class="p_footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <section>
                <h2 class="h2_foot">Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
            </section>
        </footer>
    </main>
</body>

</html>